<meta charset="UTF-8">
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'/>
<!--<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:500,600' rel='stylesheet' type='text/css'>-->
<link rel="stylesheet" href="{{ site.baseurl | replace: '//', '/' }}/css/main.css">
<style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<link rel="icon" type="image/x-icon" href="/favicon.ico">
<!--<link rel="stylesheet" id="switch_style" href="{{ site.baseurl | replace: '//', '/' }}/css/grid.css">-->
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl | prepend: site.url }}/feed.xml">
<link rel="manifest" href="/manifest.json">
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
      appId: "6081ada9-8d16-415b-89b0-ca90e94a26e0",
      autoRegister: true,
      notifyButton: {
        enable: true /* Set to false to hide */
      }
    }]);
  </script>
{% seo %}
